.hero-carousel img {
    width: 100%;
    height: 100%;
}
.slider-container img {
    object-fit: cover;
    width: 80%;
    height: 100%;
}
.catalog { 
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.product-card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 1em;
    max-width: 17em;
    height: 28em;
}
.product-image {
    object-fit: scale-down;
}
.product-content{
    margin: 1em;
}
.product-description{
    width: 240px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.box {
    margin: 1em;
    padding: 0px;
}
.box-image {
    width: 360px;
}