{{ define "products" }}

<div class="container is-fluid">
 <div class="columns">
  <div class="column is-one-fifth">
   <aside class="menu">
    <p class="menu-label">
     Administration
    </p>
    <ul class="menu-list">
     <li><a>Team Settings</a></li>
     <li>
      <a class="is-active">Manage Your Team</a>
      <ul>
       <li><a>Members</a></li>
       <li><a>Plugins</a></li>
       <li><a>Add a member</a></li>
      </ul>
     </li>
     <li><a>Invitations</a></li>
     <li><a>Cloud Storage Environment Settings</a></li>
     <li><a>Authentication</a></li>
    </ul>
   </aside>
  </div>

  <div class="column">
   <div class="catalog">
    {{ range .Product }}
    <div class="card">
     <div class="card-image">
      <figure class="image is-4by3">
       <img
        src="{{ .Image }}"
        alt="Карандаш">
      </figure>
     </div>
     <div class="card-content">
      <div class="media">
       <div class="media-content">
        <p class="title is-4">{{ .Name }}</p>
       </div>
      </div>
      <div class="content">
       <p>{{ .Description}}</p>
      </div>
      <footer class="card-footer">
       <p class="card-footer-item">
        {{ .Price }}
        <span class="icon has-text-success">
         &nbsp;<i class="fas fa-ruble-sign"></i>
        </span>
       </p>
       <p class="card-footer-item"><button class="button">Купить</button></p>
      </footer>
     </div>
    </div>
    {{ end }}
   </div>
  </div>
 </div>
</div>
{{ end }}