{{ define "products" }}
<div class="column">
  <div class="catalog">
    {{ range .Product }}
    <div class="product-card">
      <a href="product?product={{ .ID }}">
        <div class="product-image">
          <img src="{{index .Images 0}}" alt="Карандаш">
        </div>
      </a>
      <div class="product-content">
        <div class="media">
          <a class="toproduct" href="product?product={{ .ID }}">
            <div class="media-content">
              <p class="title is-4">{{ .Name }}</p>
            </div>
          </a>
        </div>
        <div>
          <p class="product-description">{{ .Description }}</p>
        </div>
        <p class="item">
          {{ .Price }}
          <span class="icon has-text-success">
            &nbsp;<i class="fas fa-ruble-sign"></i>
          </span>
        </p>
        <footer class="card-footer">
          <p class="card-footer-item"><a class="button" href="product?product={{ .ID }}">О товаре</a></p>
          <p class="card-footer-item"><a class="button">В корзину</a></p>
        </footer>
      </div>
    </div>
    {{ end }}
  </div>
</div>
</div>
</div>
{{ end }}